html{
    background-color: var(--bg);
    color: var(--text);
}

header, form{
    font-size: 4rem;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 1.5rem;
    font-size: 1.6rem;
    outline: none;
    border: none;
    background: none;
}

form input{
    background-color: var(--bg-input);
    border-radius: 1rem;
    margin-right: 1rem;
    width: 30vw;
    color: var(--gray);
}
input::placeholder{
    color: var(--gray);
}

button{
    padding:5px;
    color: var(--gray);
    cursor: pointer;
    font-weight: 600;
}

span{
    transition: all .10s ease;
}


/*Formatando DOM JS*/
.container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.list-todo{
    min-width: 30%;
    list-style: none;
    background-color: var(--bg-input);
    border-radius: 15px;
}
.todo{
    margin: 1rem;
    padding: .5rem;
    border-radius: 10px;
    background-color: var(--bg);
    font-size: 1.7rem;


    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo li{
    flex: 1;
    text-transform: capitalize;
}

.check-btn, .trash-btn{
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color:var(--bg-btn-trash);

    border-radius: 50px;
    margin-left: 1rem;
    outline: none;
}

.todo-list{
    padding: 0 1rem;
}

.check-btn{
    background-color: var(--bg-btn-success)
}


@media(min-width:320px) and (max-width: 480px){
    form input{
        width: 60vw;
        font-size: 1.3rem;
    }
    form button{
        font-size: 1.3rem
    }
}