html{
    background-color: var(--bg);
    color: var(--text);
}

header, form{
    font-size: 4rem;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 1.5rem;
    font-size: 1.6rem;
    outline: none;
    border: none;
    background: none;
}

form input{
    background-color: var(--bg-input);
    border-radius: 1rem;
    margin-right: 1rem;
    width: 30vw;
    color: var(--gray);
}
input::placeholder{
    color: var(--gray);
}

button{
    padding:5px;
    color: var(--gray);
    cursor: pointer;
    font-weight: 600;
}

span{
    transition: all .10s ease;
}


/*Formatando DOM JS*/
.container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.list-todo{
    min-width: 40%;
    list-style: none;
}
.todo{
    margin: 1rem;
    padding: .5rem;
    border-radius: 10px;
    background-color: var(--bg-input);
    font-size: 1.7rem;


    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo li{
    flex: 1;
    text-transform: capitalize;
}

.check-btn, .trash-btn{
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color:var(--bg-btn-trash);

    border-radius: 50px;
    margin-left: 1rem;
    outline: none;
}

svg{
    pointer-events: none;
}

.todo-list{
    padding: 0 1rem;
}

.check-btn{
    background-color: var(--bg-btn-success);
}

.completed{
    text-decoration: line-through;
    opacity: .5;
    transition: opacity .3s ease;
}

/*Filtro*/
select{
    appearance: none;
    outline: none;
    border: 1px solid red;

    background: var(--bg);
    color: var(--text);
    width: 12.5rem;
    cursor: pointer;
    padding: 1rem;
    font-weight: 600;

    display: flex;
    justify-self: unset; /*Ajudou a corrigir a posição do elemnto*/
}
option{
    margin: 10px;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after{
    content: "\25BC";
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 1.5rem;
    padding: 1rem;
    pointer-events: none;
    transform: all .3s ease;
}


@media(min-width:482px) and (max-width: 767px){
    form input{
        width: 60vw;
        font-size: 1.7rem;
    }
    form button{
        font-size: 1.7rem
    }
}

@media(min-width:320px) and (max-width: 480px){
    form input{
        width: 60vw;
        font-size: 1.4rem;
    }
    form button{
        font-size: 1.4rem
    }
}